In [4]:
#import some relevant libraries
import pandas as pd

In [6]:
#import the dataset
ramen_data = pd.read_csv('ramen-ratings.csv')

In [7]:
ramen_data.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [16]:
#read the cleaned dataframe
Ramen_cleaned_data = pd.ExcelFile('Ramen Dataset.xlsx')
df1 = pd.read_excel(Ramen_cleaned_data, "ramen_ratings_cleaned" )

In [17]:
df1.head()

,Review Ranking,Brand,Variety,Style,Country,Stars,Continentals
0,2580,New Touch,T'S Restaurant Tantanmen,Cup,Japan,4.0,Asia
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.0,Asia
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.0,North America
3,2577,Weh Lih,Gge Ramen Snack Tomato Flavor,Pack,Taiwan,3.0,Asia
4,2576,Ching'S Secret,Singapore Curry,Pack,India,4.0,Asia

In [20]:
#check for duplicates
df1.duplicated().any()

False

In [33]:
#check for empty values
df1.isnull().sum()

Review Ranking    0
Brand             0
Variety           0
Style             2
Country           0
Stars             3
Continentals      0
dtype: int64

In [36]:
null_rows = df1.isnull().any(axis=1)
null_df = df1[null_rows]
null_df

,Review Ranking,Brand,Variety,Style,Country,Stars,Continentals
32,2548,Ottogi,Plain Instant Noodle No Soup Included,Pack,South Korea,NaN,Asia
122,2458,Samyang Foods,Sari Ramen,Pack,South Korea,NaN,Asia
993,1587,Mi E-Zee,Plain Noodles,Pack,Malaysia,NaN,Asia
2152,428,Kamfen,E Menm Chicken,NaN,China,4.0,Asia
2442,138,Unif,100 Furong Shrimp,NaN,Taiwan,3.0,Asia

In [39]:
#check for unique entries
df1.nunique()

Review Ranking    2580
Brand              350
Variety           2405
Style                7
Country             37
Stars                6
Continentals         6
dtype: int64